.navbar-appbar {
    background-color: #1976d2; 
  }
  
  .navbar-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-title {
    font-weight: 700;
    letter-spacing: 0.2rem;
    color: #fff;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar-button {
    color: white;
    font-weight: 500;
    text-transform: none;
  }
  
  .navbar-avatar-container {
    display: flex;
    align-items: center;
  }
  
  .navbar-avatar-button {
    padding: 0;
  }
  
  .navbar-menu {
    margin-top: 40px;
  }
  
  .navbar-menu-item {
    text-align: center;
  }
  